{% layout "layout.liquid" %}
{% block content %}
  <div>
    <h1>DELETE
      {{ student.firstName }}
      {{ student.lastName }}
      ( STUDENT ID
      {{ student.studentId }}
      )?
    </h1>

    <h3>Are you sure you want to delete this student from the database? (This cannot be undone)</h3>
    <form action="/students/{{ student.studentId }}?_method=DELETE" method="POST">
      <input type="text" class="key" name="key" value="{{ key }}">
      <input type="text" class="key" name="studentId" value="{{ student.studentId }}">
      <input type="submit" value="Delete Forever">
    </form>
  </div>
{% endblock %}
